/*
Theme Name: _AL3
Theme URI: http://alej.co
Author: Alejandro A. Leal
Author URI: http://alej.co
Description: A Responsive WordPress Theme Based On The Underscores Starter Theme.
Version: 0.9
License: All Rights Reserved.


_AL3 is based on Underscores http://underscores.me/, (C) 2014 Alejandro Leal

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/




/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



/* =Global
----------------------------------------------- */

@font-face {
	font-family: 'DezenProRegular';
	src: url('../AL3/webfonts/2A483C_0_0.eot');
	src: url('../AL3/webfonts/2A483C_0_0.eot?#iefix') format('embedded-opentype'),
	url('../AL3/webfonts/2A483C_0_0.woff') format('woff'),
	url('../AL3/webfonts/2A483C_0_0.ttf') format('truetype');
}
 


@font-face {font-family: 'Dense-Regular';src: url('webfonts/2AAAD4_0_0.eot');
src: url('../AL3/webfonts/2AAAD4_0_0.eot?#iefix') format('embedded-opentype'),
url('../AL3/webfonts/2AAAD4_0_0.svg#wf') format('svg'),
url('../AL3/webfonts/2AAAD4_0_0.woff') format('woff'),url('../AL3/webfonts/2AAAD4_0_0.ttf') format('truetype');
} 

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
hr {

}

/* Text elements */
p {
	margin-bottom: 3%;
}
ul, ol {
	margin: 0 0 1.5em 1.5em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong, strong i, strong em {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	border: 1px solid #656565;
	background-color: rgba(255,255,255,0.4);

}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a, a:visited {
	
color:#000000;

}
 
a:hover,
a:focus,
a:active {
	color: #000000; 
	outline:0;
}

a img {
	border: 0;
}

a.greenLink {
	
	color:#33cc66;
	text-decoration:none;
	
}

a.greenLink:hover {
	text-decoration:underline;
}

article .project h3 a {
	text-decoration:none;
	
}
 

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	display: block;
	float: left;
	width: 100%;
	padding:0;

}

.main-navigation-container {
	margin:0 auto;
	display:block;
	width:100%;
	height:100%;
}

.main-navigation ul {

}
.main-navigation li {
 
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}



#siteNavigation.scroll {
	z-index:999999;
	transition: all 3s easeOutCubic;
	position:fixed;
	top:-100%;	
}

.menu-navigation-container {
	width:100%;
	float:left;
	margin:0;
	padding:0;
	background-color: #000;
}

nav ul.menu,
#secondMenu ul.menu
  {
	list-style-type:none;
	text-align:center;
	margin:0 auto;
	width:100%;
	padding:0;
	height:100%;
}

 

#navHomeLink {
	border-top: 6px solid #33cc66;
}

#secondary-navigation {
	position: fixed;
	top:-25%;
	z-index: 99;
}
 

#secondary-navigation {

	background-color: #000000;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
 
} 

#navHomeLink a {
	text-align: center;
	font-size: 1.8em;
	margin:0 auto;
}

nav ul.menu li.menuTitle a,
#secondMenu ul.menu li.menuTitle a {
	display:block;
	float: none;
	position: fixed;
	left: 15px;	
}


nav ul.menu li,
#secondMenu ul.menu li {
	float:left;
	font-size:1.6em;
	padding:3px 0;
	margin:0;
}

nav ul.menu li a,
#secondMenu ul.menu li a,
#navHomeLink a {
	text-decoration: none;
	color:#33cc66;
	display:block;

}
 
.top-menu {

}

.top-menu ul {


	
}

.top-menu ul li {
	max-width: 32%
}

#fixedMenu.top-menu ul li {

}

.fixed {
	position: fixed;
	display: block;		
}

.translate {
	-webkit-transform: translate(0px, 5%);
  -moz-transform:    translate(0px, 5%);
  -ms-transform:     translate(0px, 5%);
  -o-transform:      translate(0px, 5%);
  transform:         translate(0px, 5%);
}

.top-menu ul li a {

}

.top-menu ul li a:hover {

}


ul#menu-footer {
	display: block;
	float: left;
	width: 100%;
	margin: 0 auto;
}

ul#menu-footer li {
	list-style-type: none;
	display: block;
	min-width: 61px;
	margin: 0 auto;
	height: auto;
	text-align: center;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: none;
	}

	.main-navigation ul {
	/*	display: none; */
	}
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
	font-weight: bold;
	font-size: 80%;
}
.wp-caption .wp-caption-text {
	margin: 1% 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
	line-height: 1.4em;
	margin-top:3%;
	font-weight: bold;
	font-size: 72%!important;
	text-align: left;
	padding:3% 6%;
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {

}
.site-main .gallery-columns-4 .gallery-item img {
}

.gallery {
	padding:20px;
	border:2px solid #0F0E0C;
	background-color: rgba(255,255,255,0.5);
}

.gallery-item {
		margin-bottom:5%;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}


/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}


/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/* 

	34 Responsive Grid System
	Multi-state, responsive CSS grid system

	Developer	: Kemal Yılmaz
	URL			: http://34grid.com
	Contact		: http://kemalyilmaz.com
				: http://twitter.com/xkema
				: http://www.facebook.com/pages/34Grid/401562963236958
	Version		: 1.0

	LICENSED UNDER Creative Commons Attribution 3.0 Unported License.

 */



/* 
	Main width-controller for your content. think ".container"
	class as a holder for ".row" classes for a basic layout.
	Default centered with margin 0 auto; style.
	============================================================ CONTAINER ====
*/
.container { margin: 0 auto; }

body.container {
	background: #cec1ac url('../AL3/images/palms-buildings.jpg') no-repeat;
	background-size:100% 100%;
	background-position: top left;
	background-attachment: fixed;
	-webkit-background-size:1200px 900px;
}

/* 
	Main grouping blocks. You can dump "n*100%"" width content to a
	single ".row". (with the little help of .skip-float and manual 
	.user-float classes)
	================================================================== ROW ====
*/
.row { width: 100%; }



 

/* 
	Auto clearfix for all rows. Borrowed from HTML5BOILERPLATE.
	====================================================== ROW TRANSITIONS ====
*/
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }
.row { *zoom: 1; }



/* 
	Column (col_*) and complement (col_*c) classes.
	.col_0 class is not a must but i added it to
	keep things organized. You can use it for 
	marginless 100% widths.
	================================================ COLUMNS & COMPLEMENTS ====
*/

/* columns & complements (autogenerated styles) */
.col_0 {
	width: 100%;
	margin-bottom: 15px;
	display: block;
}

.col_1,
.col_2,
.col_3, .col_3c,
.col_4, .col_4c,
.col_5, .col_5c,
.col_6, .col_6c {
	margin-left		: 1.6%;
	margin-right	: 1.6%;
	margin-bottom	: 15px;
	float		: left;
	display		: block;
}

/* columns (autogenerated styles) */
.col_1 { width: 96.8%; }
.col_2 { width: 46.8%; }
.col_3 { width: 30.1333333333%; }
.col_4 { width: 21.8%; }
.col_5 { width: 16.8%; }
.col_6 { width: 16.4666666667%; }

/* complements (autogenerated styles) */
.col_3c { width: 63.4666666667%; }
.col_4c { width: 71.8%; }
.col_5c { width: 76.8%; }
.col_6c { width: 80.1333333333%; }



/* 
	100% width auto control for "img", "object" and
	"embed" controls.
	============================================ IMAGE FULL WIDTH CONTROLS ====
*/
img, object, embed { max-width: 100%; }
img { height: auto; }
figure img { max-width: 100%; }



/* 
	Use ".skip-float" class to start from brand new lines.
	Clears left of current 100% group for new 100% 
	lines in same ".row" group.
	@see webpage for details
	=============================================== FLOATING PROBLEM FIXER ====
*/
.skip-float { clear: left; }



/*	
	CSS hack for responsive videos.
	@see http://www.alistapart.com/articles/creating-intrinsic-ratios-for-video/
	@see http://webdesignerwall.com/tutorials/css-elastic-videos
	========================================================= VIDEO HOLDER ====
*/
.video-holder {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	display: block;
}

.video-holder iframe, .video-holder object, .video-holder embed {
	position: absolute;	top: 0;	left: 0; width: 100%; height: 100%;
}


/* General Styles */




h1 {
	font-family: 'Nixie One', cursive;
}

#tagline h3 {
	text-transform: none;
	font-family: 'Gudea',sans-serif;
}

h1.entry-title, h2, h4, h3, h5,
nav ul li, #secondMenu ul li, #navHomeLink a,
#footerMenu ul li
 {
	font-family: 'Dense-Regular';
	text-transform: uppercase;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-text-stroke: 0.20px !important;
}

h2 {font-size:2em;}

h3 {font-size:1.6em;
}

p, ul li, ol li, .wp-caption-text, .gallery-caption, .widget { 

	font-family:'Gudea',Verdana,sans-serif;
	font-size:93%;

}

ul {
	list-style-type: square;
}

ul li, ol li {
	margin-bottom:3%;
}

header.site-header {
	background-color:#33cc66;
	padding-bottom:20px;
}

.site-branding {
	margin:0 auto;
}

.site-title {
	font-size:9em;
	margin:0 auto;
	text-align:center;
}

.site-title.small {
	font-size:2.6em!important;
}

.site-description {
	font-size:2em;
	margin-top:0;
	text-align:center;
}

h2.site-description {
	position: relative;
	bottom: 15px;
}

.site-title a {
	color:#000000;
	text-decoration:none;
	letter-spacing:-3px;
}

.nav-menu li {
 	float:left;
	margin:0 9%;;
	text-align:center;
	display:inline-block;
}

.nav-menu li a {
	color:#000000;
	text-decoration:none;
}

hr.greenBottomborder {
	border-bottom: 1px solid #000000;
	width:100%;
	padding:0;
	margin:0;

}

#work, #projects {
	height:100%;
	width:100%;

 
}

#work {
 	padding:3% 0;
}

.home article, .screen {
	background-color:rgba(255,255,255,0.4);
 
}

.screen {
	display:block;
	width:auto;
	height:auto;
	padding:3%;
	margin:5%;
	float:left;
	clear:both;
}

#experience .project h3 {
	margin:6% 0 2% 0;
}

#experience .project .projectMeta {

 	clear: left;
 	min-width: 45%
}

#experience .project p {
 	margin-bottom: 6%;

}

#experience .project label.projectMeta:last-child {
	
}

#experience .project img {
	float:right;
	display: block;
	max-width: 28%;
	height: auto;
	margin:0 0 3% 3%;
}

.project .experienceImage img {
	width: auto;
	height:auto;
}



/* #masthead.fixedPane {
	position:fixed;
	top:0;
	clear:both;
	background-color:rgba(255,255,255,0.9);
	box-shadow:1px 1px 2px #C0C0C0;
	max-height:20%!important;
	min-height:16%;
} */

#about, #footerMenu {
	margin-left:12%;
	width:78%;

}

#footerMenu ul li {
	font-size:1.3em!important;
}

#footerMenu {
	padding-bottom: 4%;
	display: none;
}

#tagline h3 {
	font-size:1.4em;
	text-align:left;
	padding:3% 15% 3% 21%;
}

#tagline {

}

.project {
	width:85%;
	height:100%;
	padding:4%;
	margin:0 auto;
	display: block;
}

.project h3 {
	margin:9% 0;
	line-height:0.96em;
	font-size: 1.8em;
}

section h3.lead {
	margin:6% auto;
	font-size:2em;
	width:100%;
	display:block;
	text-align:center;
	border-bottom:1px solid #33cc66;
	color:#000;
	padding-top: 4%;
}

.content-area .site-main {
	padding:0 1%;
}

.widget-area {
	border-left:1px solid #33cc66;
	padding-left:5%;
}

.entry-header h1.entry-title {
	font-size:2.4em;
	line-height: 1.1em;
}

#secondary {
	float:left;
	left:66%;
}

#backToTop span {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}
 

.inner {
	padding:6%;
}

/* With special thanks to http://webdesignerwall.com/tutorials/animated-scroll-to-top */

span a.arrow.up {
	background-image: url('../AL3/images/arrow-up.png');
	background-repeat: no-repeat;
	display:block;
	width:25px;
	height:45px;
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.translucent {
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

.translucent:hover {
	opacity: 1;
	-moz-opacity: 1;
		filter:alpha(opacity=1);
}

.fixed.bottom.right{
	position:fixed;
	bottom:10%;
	right:1%;
}

.projectImage {
	display: block;
	width: 100%;
	height: auto
}

.projectImage a img,
#experience .project img {
    -moz-box-shadow:    1px 1px 4px 1px #666;
    -webkit-box-shadow: 1px 1px 4px 1px #666;
    box-shadow:         1px 1px 4px 1px #666;
}

footer p {
	margin:0 auto;
}

.coleccionista {
	margin:6% auto;
	min-width:20%;
	text-align: center;
	color:#669966;
	font-size: 60%
}
 

 /* Fancybox styles */


 /*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #0F0E0C;
	color: #444;
	text-shadow: none;
	/*-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px; */
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 10px/16px Verdana,sans-serif;
	margin: 0;
	padding: 30px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('js/fancybox/fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('js/fancybox/fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('js/fancybox/blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url('js/fancybox/fancybox_overlay.png');
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	/* -webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px; */
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('js/fancybox/fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('js/fancybox/fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

/* Fancybox Thumbs */

#fancybox-thumbs {
	position: fixed;
	left: 0;
	width: 100%;
	overflow: hidden;
	z-index: 8050;
}

#fancybox-thumbs.bottom {
	bottom: 2px;
}

#fancybox-thumbs.top {
	top: 2px;
}

#fancybox-thumbs ul {
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
}

#fancybox-thumbs ul li {
	float: left;
	padding: 1px;
	opacity: 0.5;
}

#fancybox-thumbs ul li.active {
	opacity: 0.75;
	padding: 0;
	border: 1px solid #fff;
}

#fancybox-thumbs ul li:hover {
	opacity: 1;
}

#fancybox-thumbs ul li a {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #222;
	background: #111;
	outline: none;
}

#fancybox-thumbs ul li img {
	display: block;
	position: relative;
	border: 0;
	padding: 0;
	max-width: none;
}

/* Fancybox Buttons */

#fancybox-buttons {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 8050;
}

#fancybox-buttons.top {
	top: 10px;
}

#fancybox-buttons.bottom {
	bottom: 10px;
}

#fancybox-buttons ul {
	display: block;
	width: 166px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	border: 1px solid #111;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	   -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	background: rgb(50,50,50);
	background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
	background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#fancybox-buttons a {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url('js/fancybox/helpers/fancybox_buttons.png');
	background-repeat: no-repeat;
	outline: none;
	opacity: 0.8;
}

#fancybox-buttons a:hover {
	opacity: 1;
}

#fancybox-buttons a.btnPrev {
	background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
	background-position: -33px 0;
	border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
	background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
	background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
	background-position: 3px -60px;
	border-left: 1px solid #111;
	border-right: 1px solid #3e3e3e;
	width: 35px
}

#fancybox-buttons a.btnToggleOn {
	background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
	border-left: 1px solid #111;
	width: 35px;
	background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
	opacity : 0.4;
	cursor: default;
}
